version: "3"

services:
  www:
    # Use the Dockerfile in this directory to build the www service image
    build: .
    # Map host's port 4000 to www container's port 4000
    ports:
      - 4000:4000

    # Mount the current working directory (./) to the /www directory
    volumes:
      - ./:/www

    # Run this command after the container starts
    command: bundle exec jekyll serve --host=0.0.0.0 --watch --force_polling --trace
