<div class="card mb-3">
  {% comment %}
  <div class="card-image">
    <img
      src="{{ site.data.images.loading.src }}"
      data-src="{{ include.byte.image }}"
      alt="{{ include.byte.title }}"
      class="lazyload img-fluid rounded-start"
      width="100%"
    />
  </div>
  {% endcomment %}
  <div class="card-body pb-0">
    <h5 class="card-title">{{ include.byte.title | markdownify }}</h5>
    <span class="card-text">
      {{ include.byte.description | markdownify | truncate:
      120, "..." }}
    </span>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-6">
        <span
          style="
            text-transform: uppercase;
            color: gray;
            font-size: 0.8em;
          "
          class="align-middle"
          >{{ include.byte.programming_language }}</span
        >
      </div>
      <div class="col-6">
        <a
          href="{{ include.byte.url }}"
          class="btn btn-outline-dark btn-sm float-right"
        >
          <small class="text-muted">More »</small>
        </a>
      </div>
    </div>
  </div>
</div>
