{% comment %} BASED ON:
https://github.com/codinfox/codinfox-lanyon/blob/master/blog/tag.html
{% endcomment %} {% comment %} Here we generate all the
tags. {% endcomment %} {% assign rawtags = "" %} {% assign
category = include.category %} {% for post in site.posts %}
{% if post.categories contains category or category == nil
%} {% comment %} Append the tags from this post {%
endcomment %} {% assign ttags = post.tags | join:'|' |
append:'|' %} {% assign rawtags = rawtags | append:ttags %}
{% endif %} {% endfor %} {% assign rawtags = rawtags |
split:'|' | sort %} {% assign tags = "" %} {% for tag in
rawtags %} {% if tags == "" %} {% assign tags = tag %} {%
else %} {% unless tags contains tag %} {% assign tags = tags
| append:'|' | append:tag %} {% endunless %} {% endif %} {%
endfor %} {% assign tags = tags | split:'|' %}
