<script type="text/javascript" src="/static/js/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/lazyload.min.js"></script>
<script type="text/javascript" src="/static/js/google-analytics.js"></script>
<script type="text/javascript" src="/static/js/gtag.js"></script>
<script type="text/javascript" src="/static/js/gtag.myconfig.js"></script>


<!-- KaTeX: LaTeX typesetting for the web by Khan Academy -->
<script type="text/javascript" src="/static/katex-v0.11.1/katex.js"></script>
<script type="text/javascript" src="/static/katex-v0.11.1/contrib/auto-render.js"></script>

<script type="text/javascript" src="/static/js/main.js"></script>

<script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>
