<div class="card mb-3">
    <div class="row g-0">
        <div class="col-3">
            <img src="{{ site.data.images.loading.src }}"
                data-src="{{ post.image }}" 
                alt="{{ post.title }}"
                class="lazyload img-fluid rounded-start ml-3 mr-3 mt-3 mb-3"
                width="100%">  
        </div>
        <div class="col-9">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.description | truncate: 120 }}</p>
            <p class="card-text">
            <small class="text-muted">{{ post.date | date_to_string }}</small>
            <a href="{{ post.url }}" class="btn btn-outline-dark btn-sm float-right">
                <small class="text-muted">More »</small>
            </a>
            </p>
        </div>
        </div>
    </div>
</div>