
<hr/>

<h1>Portfolio</h1>

{% if include.subcategory %}

<hr/>

<h2>{{ include.subcategory }}</h2>

{% endif %}

<hr/>

{% include _get_all_tags.html category='portfolio' subcategory=include.subcategory %}


{% for tag in tags %}
<a href="/tags/#{{ tag | slugify }}" class="badge badge-light"> {{ tag | replace: '-', ' ' | upcase }} </a>
{% endfor %}

<hr/>

<div class="row">

    {% assign i = 0 %}

    {% for post in site.posts %}

        {% if post.categories contains 'portfolio' %}

            {% if include.subcategory == nil or post.subcategories contains include.subcategory %}

            {% if post.columns %}

            {% assign col_md_val = post.columns | times: 4 %}

            {% else %}

            {% assign col_md_val = 4 %}

            {% endif %}

            <div class="col-sm-6 col-md-{{ col_md_val }} thumbnail">
                <a href="{{ post.url }}" class="thumbnail-link">
                    <img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src="{{ post.thumbnail_url }}" 
                        alt="{{ post.title }}"
                        class="img-thumbnail lazyload">
                    <p class="title">{{ post.title }}&nbsp;&#187;</p>
                </a>
            </div>

            {% endif %}
            
            {% assign i = i | plus:1 %}

        {% endif %}

    {% endfor %}

</div>

{% include _copyright.html %}
