<div class="card mb-3" style="box-shadow: 10px 10px 3px 0px rgba(0, 0, 255, .2);">
  <div class="card-body">
    <p class="card-text">
      <small class="text-muted"
        >{{ include.tweet.date | date_to_string }}</small
      >
      <small class="text-muted float-right"
        ><a
          href="#{{ include.tweet.id }}"
          id="{{ include.tweet.id }}"
          >#{{ include.tweet.id }}</a
        ></small
      >
    </p>
    <p class="card-text">{{ include.tweet.text }}</p>
    {% if include.tweet.image %} {% include _post_image.html
    src=include.tweet.image.src alt=include.tweet.image.alt
    text=include.tweet.image.alt %} {% endif %}
  </div>
</div>
