body {
    margin: 40px auto;
    max-width: 600px;
    padding: 0 10px;
    line-height: 1.6;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar {
    overflow: hidden;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    text-transform: uppercase;
    color: gray;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-style: italic;
    font-size: 16px;
}

.navbar ul li a {
    text-decoration: none;
}

.navbar ul li a:link, .navbar ul li a:visited {
    color: black;
}

.navbar ul li a:hover {
    color: gray;
}

.navbar ul.brand {
    float: left;
}

.navbar ul.links {
    float: right;
}

.categories span.pill {
    background-color: cornflowerblue;
    color: white;
    padding: 0.1em .6em;
    border-radius: 10rem;
}