body {
    font-weight: 300;
}

/* Space between navbar and content */
.navbar {
    margin-bottom: 2em;
    text-transform: uppercase;
}

.navbar .navbar-brand {
    letter-spacing: 0.1em;
}

.post .default-image-fullwidth img {
    width: 100%;
    height: auto;
}

.post .title {
    text-transform: uppercase;
    font-weight: 900;
    /*letter-spacing: 0.5em;*/
}

.post h1 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.post .subtitle {
    text-transform: lowercase;
    font-weight: 300;
}

.post .date {
    text-transform: lowercase;
    font-weight: 300;
}

.tags .tag-title-badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    line-height: 1;
    /*font-size: 75%;*/
    /*font-weight: 700;*/
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}