body {
    font-weight: 300;
    padding-bottom: 2em;
}

/* Space between navbar and content */
.navbar {
    text-transform: uppercase;
}

.navbar .navbar-brand {
    letter-spacing: 0.1em;
}

.contact {
    .contact-table {
        text-align: center;

        td {
            padding-bottom: 0 !important;
        }

        svg {
            width: 1.18em;
            height: auto;
        }
    }
}

.post {
    .default-image-fullwidth img {
        width: 100%;
        height: auto;
    }

    .title {
        text-transform: uppercase;
        font-weight: 900;
        /*letter-spacing: 0.5em;*/
    }

    .subtitle {
        text-transform: lowercase;
        font-style: italic;
    }

    .date {
        text-transform: lowercase;
        font-weight: 300;
    }

    /* https://www.h3xed.com/web-development/how-to-make-a-responsive-100-width-youtube-iframe-embed */
    .embed-container-full-width {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        margin-bottom: 1rem;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    blockquote {
        margin-bottom:1rem;
        font-size:1.25rem
    }

    .highlight {
        border-radius: 0.5em;
        margin-bottom: 1em;
    }
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.tags .tag-title-badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    line-height: 1;
    /*font-size: 75%;*/
    /*font-weight: 700;*/
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.list-group-item {
    width:100%;
}

.list-group-item p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.list-group-item .title {
    text-transform: uppercase;
    font-weight: bold;
}

.list-group-item .subtitle {
    text-transform: lowercase;
}

.list-group-item .date {
    font-style: italic;
}

.portfolio .img-thumbnail {
    border: none;
    padding: 0;
    border-radius: 0;
    //box-shadow: 0 0 10px grey;
    height: 100%;
    width: 100%;
}

.portfolio .thumbnail {
    padding: 15px;
    position: relative;
}

.portfolio .thumbnail .title {
    position: absolute;
    left: 30px;
    bottom: 15px;
    z-index: 1100;
    opacity: 1.0;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 1rem;
    /*transition: visibility 0s, opacity 0.1s ease-in-out;*/
}

/*.portfolio .thumbnail:hover .title {*/
/*    opacity: 1;*/
/*}*/

.portfolio .thumbnail .title a {
    color: white !important;
}

.portfolio .thumbnail .thumbnail-link:hover .title {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.8;
    }
}

a.no-color {
    color: black;
}