---
---

// Helvetica Neue from a google file...
/* latin */
@font-face {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    src: local('Calibri'), url(https://fonts.gstatic.com/l/font?kit=J7afnpV-BGlaFfdAhLEY67FIEjg&skey=a1029226f80653a8&v=v10) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
/* latin-ext */
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    src: local('Helvetica Neue'), local('HelveticaNeue'), url(https://fonts.gstatic.com/l/font?kit=jAnfgHBgCsv4eNLTaMECf8DQsNS1exC-fGAj&skey=4ad46dd97873f7d7&v=v9) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    src: local('Helvetica Neue'), local('HelveticaNeue'), url(https://fonts.gstatic.com/l/font?kit=jAnfgHBgCsv4eNLTaMECf8DQsNS7exC-fGAj&skey=4ad46dd97873f7d7&v=v9) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    src: local('Helvetica Neue Bold'), local('HelveticaNeue-Bold'), url(https://fonts.gstatic.com/l/font?kit=jAncgHBgCsv4eNLTaMECf8DQsNwAXgWdXm0Jmmw5&skey=ba59c4fdb0ab3b35&v=v9) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    src: local('Helvetica Neue Bold'), local('HelveticaNeue-Bold'), url(https://fonts.gstatic.com/l/font?kit=jAncgHBgCsv4eNLTaMECf8DQsNwAXgWTXm0Jmmw5&skey=ba59c4fdb0ab3b35&v=v9) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-weight: 300;
    padding-bottom: 2em;
    font-family: 'Helvetica Neue';
}

.contact {
    .contact-table {
        td {
            padding-bottom: 0 !important;
        }

        svg {
            width: 1.18em;
            height: auto;
        }
        td, th {
            padding: .25rem;
            border: none !important;
        }
    }
}

.post {
    .default-image-fullwidth img {
        width: 100%;
        height: auto;
    }

    .title {
        font-weight: 900;
        /*letter-spacing: 0.5em;*/
    }

    .description {
        // text-transform: lowercase;
        font-style: italic;
    }

    .date {
        font-weight: 300;
    }

    /* https://www.h3xed.com/web-development/how-to-make-a-responsive-100-width-youtube-iframe-embed */
    .embed-container-full-width {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        margin-bottom: 1rem;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    blockquote {
        border-left-width: initial;
        border-left-style: outset;
        border-left-color: rgb(173, 173, 173);
        padding-left: 0.75em;
    }

    .highlight {
        border-radius: 0.5em;
        margin-bottom: 1em;
    }

    h1, h2, h3, h4, h5, h6, p {
        text-transform: initial;
        // margin-bottom: 0.5em !important;
        letter-spacing: initial;
    }

    h1 {
        font-weight: bold;
    }

    h3 {
        font-size: 1.5rem;
    }

    img {
        width: 100%;
    }
}

.hey {
    text-transform: lowercase !important;
    letter-spacing: normal !important;
}

.tags .tag-title-badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    line-height: 1;
    /*font-size: 75%;*/
    /*font-weight: 700;*/
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.list-group-item {
    width:100%;
}

.list-group-item p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.list-group-item .title {
    text-transform: uppercase;
    font-weight: bold;
}

.list-group-item .subtitle {
    text-transform: lowercase;
}

.list-group-item .date {
    font-style: italic;
}

.portfolio .img-thumbnail {
    border: none;
    padding: 0;
    border-radius: 0;
    width: 100%;
}

.portfolio .thumbnail {
    padding: 15px;
    position: relative;
}

.portfolio .thumbnail .title {
    position: absolute;
    left: 30px;
    bottom: 15px;
    z-index: 1100;
    opacity: 1.0;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 1rem;
}

.portfolio .thumbnail .title a {
    color: white !important;
}

.portfolio .thumbnail .thumbnail-link:hover .title {
    animation: blinker 2s linear infinite;
}

a.no-color {
    color: black;
}

p.center {
    text-align: center;
}

.active {
    text-decoration: underline;
    text-underline-offset: 0.4rem;
}