---
layout: base
paginate: true
---

<h2>Posts</h2>

{% if paginator.posts %}
<div class="list-group">
    {% for post in paginator.posts %}
    <a href="{{ post.url }}"
       class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="w-100 justify-content-between">
            <h5 class="mb-1">{{ post.title }}</h5>
            <small>{{ post.date | date_to_string }}</small>
        </div>
        <p class="mb-1">{{ post.subtitle }}</p>
    </a>
    {% endfor %}
</div>
{% else %}
<p><em>No recent posts.</em></p>
{% endif %}

<hr/>

<ul class="pagination justify-content-center">
    {% if paginator.previous_page %}
    <li class="page-item">
        {% if paginator.previous_page == 1 %}
        <a class="page-link" href="/">&laquo;</a>
        {% else %}
        <a class="page-link" href="{{ paginator.previous_page_path }}">&laquo;</a>
        {% endif %}
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="/">&laquo;</a>
    </li>
    {% endif %}

    <li class="page-item disabled">
        <a class="page-link" href="{{ paginator.page }}">{{ paginator.page }}</a>
    </li>

    {% if paginator.next_page %}
    <li class="page-item">
        <a class="page-link" href="{{ paginator.next_page_path }}">&raquo;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link">&raquo;</a>
    </li>
    {% endif %}
</ul>
