---
layout: base
---

<div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">

        <h1>{{ page.title }}</h1>

        <p>
            {{ page.author }}
            <span class="text-muted font-italic">{{ page.date | date_to_string }}</span>
        </p>

        <hr/>

        {% for category in page.categories %}
        <span class="badge badge-pill badge-primary">{{ category }}</span>
        {% endfor %}

        <hr/>

        {{ content }}

        <hr/>

        <p>See an issue or do you think this post can be improved? Please submit an <a href="https://github.com/p13i/p13i.github.io/issues/new/" target="_blank">Issue</a> or <a href="https://github.com/p13i/p13i.github.io/pulls" target="_blank">Pull Request</a> and I'll be sure to cite your contribution.</p>
    </div>
</div>
