---
layout: base
---

<h1>{{ page.title }}</h1>

<p>
    {{ page.date | date_to_string }}
</p>

<hr/>

<div class="categories">

{% for category in page.categories %}
<span class="pill">{{ category }}</span>
{% endfor %}

</div>

<hr/>

{{ content }}

<hr/>

<p>See an issue or do you think this post can be improved? Please submit an <a href="https://github.com/p13i/p13i.github.io/issues/new/" target="_blank">Issue</a> or <a href="https://github.com/p13i/p13i.github.io/pulls" target="_blank">Pull Request</a> and I'll be sure to cite your contribution.</p>
