---
layout: base
---

<hr/>

{% for category in page.categories %}
<h1 class="title">
    <a href="/{{ category }}/" class="no-color">
        {{ category|replace: '-', ' ' }}&nbsp;&#187;
    </a>
</h1>
{% endfor %}

<hr/>

<div class="row post">
    <div class="col-12">

        <h1 class="title">{{ page.title }}</h1>

        <hr/>

    </div>

    <div class="col-12 col-lg-3 order-lg-last">

        <p class="subtitle">{{ page.subtitle }}</p>

        <hr/>

        <p class="date">{{ page.date | date_to_string }}</p>

        <hr/>

        {% include _post_tags.html post=page %}

        <hr/>

        {% if page.downloads %}

        <div class="list-group">

        {% for download in page.downloads %}
            <a class="list-group-item list-group-item-action" href="{{ download.url }}" target="_blank">{{ download.name }}&nbsp;&#187;</a>
        {% endfor %}

        </div>

        <hr/>

        {% endif %}

    </div>

    <div class="col-12 col-lg-9">

        <div class="post">

            <div class="{% if page.default_image_fullwidth %}default-image-fullwidth{% endif %}">

                {{ content }}

            </div>

            <hr/>

        </div>

    </div>
</div>
