---
layout: base
title: Portfolio
regenerate: true
---

{% include _get_all_tags.html for_posts_with_category='portfolio' %}

<div class="row portfolio">
    <div class="col-12">
        <hr/>

        <h1>Portfolio</h1>

        <hr/>

        {% for tag in tags %}
        <a href="/tags/#{{ tag | slugify }}" class="badge badge-light"> {{ tag | replace: '-', ' ' | upcase }} </a>
        {% endfor %}

        <hr/>

        <div class="row">

            {% assign i = 0 %}

            {% for post in site.posts %}

                {% if post.categories contains 'portfolio' %}

                    {% capture modulo %}{{ i | mod:5 }}{% endcapture %}

                    <div class="col-sm-6 {% if modulo == '0' or modulo == '1' %}col-md-6{% else %}col-md-4{% endif %} thumbnail {{ modulo }}">
                        <a href="{{ post.url }}" class="thumbnail-link">
                            <img src="{{ post.thumbnail_url }}" alt="..." class="img-thumbnail">
                            <p class="title">{{ post.title }}&nbsp;&#187;</p>
                        </a>
                    </div>
                    
                    {% assign i = i | plus:1 %}

                {% endif %}

            {% endfor %}

        </div>

        {% include _footer.html %}
    </div>
</div>
