---
layout: compress
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>Pramod Kotipalli</title>
    <style>
        {% comment %}
            Load the scss file using
            the capture command
        {% endcomment %}
        {% capture inline_css %}
            {% include inline.scss %}
        {% endcapture %}

        {% comment %}
            Render the captured variable
            through the SCSS compiler
        {% endcomment %}
        {{ inline_css | scssify }}
    </style>
    {% seo %}
  </head>
  <body>
    <div
      class="container-fluid"
      style="
        height: 1em;
        background: url('{{ site.data.images.header.src }}')
          no-repeat center top;
      "
    ></div>

    {% include _navbar.html %}

    <div class="container content">{{ content }}</div>

    <script type="text/javascript" src="/static/js/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/lazyload.min.js"></script>
    <script type="text/javascript" src="/static/js/google-analytics.js"></script>
    <script type="text/javascript" src="/static/js/gtag.js"></script>
    <script type="text/javascript" src="/static/js/gtag.myconfig.js"></script>
    <script type="text/javascript" src="/static/js/katex.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
  </body>
</html>
