---
layout: compress
---

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    {% if page.title and page.description %}
    <title>{{ page.title }} | {{ page.description }}</title>
    {% elsif page.title %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>Pramod Kotipalli</title>
    {% endif %}

    <style>
        {% capture inline_css %}
        {% include inline.scss %}
        {% endcapture %}
        {{ inline_css | scssify }}
    </style>

    {% seo %}

</head>
<body>

{% include _navbar.html %}

<div class="container content">
    {{ content }}
</div>

<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>
