---
layout: base
---

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">

        <hr/>

        <div class="text-center">
            <h1 class="display-3">{{ site.title }}</h1>
        </div>

        <br/>

        <div class="text-center">
            <p class="lead text-muted">{{ site.subtitle }}</p>
        </div>

        <div class="icons text-center">
            {% for link in site.data.links %}
            <a href="{{ link.url }}"
               target="_blank">
                <img src="{{ link.logo_url }}"
                     height="80">
            </a>
            {% endfor %}
        </div>

        <hr/>

        <p>Strong academic track record and high engagement with Georgia Tech community.</p>

        <p>Deep experience in developing enterprise-grade, full-stack web experiences.</p>

        <p>
            Professional experience at &nbsp;
            <a href="http://www.gatech.edu/" target="_blank"><img src="/static/images/gt.png" height="40"></a>, &nbsp;
            <a href="http://www.cisco.com/" target="_blank"><img src="/static/images/cisco.png" height="40"></a>, and
            &nbsp;
            <a href="http://www.spacex.com/" target="_blank"><img src="/static/images/spacex.png" height="20"></a>.
        </p>

        <p>
            Wins at many tech/business competitions including &nbsp;
            <a href="http://hackatl.org/" target="_blank"><img src="/static/images/hackatl.png" height="40"></a>
            (<a href="/static/2016-11-28_HackATL_article.pdf" target="_blank">press</a>).
        </p>

        <p>Demonstrated passion for machine learning applied to personal, wearable, and medical tech.</p>

        <hr/>

    </div>
</div>
